<ion-header>
  <ion-toolbar>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>
    <ion-button [routerLink]="[ '/accueil']" expand="full" fill="solid">Accueil</ion-button>
    <ion-button [routerLink]="[ '/profile']" expand="full" fill="solid">Profile</ion-button>
</ion-header>